.botao{
    background-color: #6278F7;
    border-radius: 10PX;
    font-weight: 700;
    font-size: 32px;
    padding: 32px;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    margin: 32px 0;
}
.botao:hover {
    color: #95FFD4;
    
}